<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzvcom.entity.Author">
    <resultMap id="author" type="author">
        <id property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="email" column="email"/>
        <result property="bio" column="bio"/>
        <result property="favouriteSection" column="favouriteSection"/>
    </resultMap>
    <insert id="addAuthor" parameterType="author">
        INSERT INTO t_author(id, username,password,email,bio,favouriteSection)
        VALUES (#{id}, #{username},#{password}.#{email},#{bio},#{favouriteSection})
        <selectKey keyProperty="id" resultType="int">
            SELECT max(id) FROM t_author
        </selectKey>
    </insert>
    <delete id="deleteAuthor" parameterType="int">
        DELETE FROM t_author
        WHERE id = #{id}
    </delete>
    <update id="updateAuthor" parameterType="author">
        UPDATE t_author
        SET username = #{username}
    </update>
    <select id="getAllAuthors" resultType="author">
        SELECT
        t.id,
        t.username,
        t.password,
        t.email,
        t.bio,
        t.favourite_section favouriteSection
        FROM t_author t
    </select>
    <select id="getAllAuthorsCount" resultType="int">
        SELECT count(1)
        FROM t_author
    </select>
    <select id="findById" resultMap="author" parameterType="int">
        SELECT *
        FROM t_author
        WHERE id =#{id}
    </select>
</mapper>